
body{
    background-color: rgb(253, 208, 152);
    color: black;
}

.btn-outline-danger{
    text-decoration: none;
    color: white;
    border-color: #02f92e;
}



.correcto{
    display: none;  
    position: absolute;
    z-index: 1;
}
.correcto1{
    display: block;
   
   
}
.ocultarLogin{
    display: none;
}
.status{
    background-color:red;
}
#enlace{
   color: #f8f9fa;
}

.ocultar {
    animation: ocultar 2s step-end;
   
}

@keyframes ocultar {
    0% {opacity: 1;
    width: 100%;
    text-align: center;
    }
    25% {opacity: 0.6;
        width: 100%; 
        text-align: center;
  
    }
    50%{
        opacity: 0.7;
       width: 100%;
       text-align: center;

    }
    100%{
       opacity: 0;
       width: 100%;
       text-align: center;
    }
    
}

#contenedor{
    z-index: 3;
  
}
.ocultar{
    z-index: 2;
      position:absolute
}

.estado{

}