.fila {
  visibility: hidden;
  width: 50px;
  height: 20px;
}

#titulo {
  color: white;
}

.aler {
  display: none;
  position: absolute;
  z-index: 2;
}

.menu {
  display: none;
}
.menu2 {
  display: block;
  text-align: center;
  color: white;
  z-index: 2;
  position: absolute;
  background-color: black;
  right: 12px;
}
li {
  list-style: none;
}

img {
  z-index: -1;
  position: absolute;
}
#contenedor {
  background: url("../cajero.jpg");
  background-size: cover;
}
.efectivo {
  background: url("efectivo.jpg");
  background-size: cover;
}

#cera:hover {
  background-color: red;
}
a{
  text-decoration: none;
  color:black;
}

.animacion{
  display: none;

}
.animacion2{
  position: absolute;
z-index: 1;
}
table{
  margin: 10px;
}
#error
{ display: none;}

